


@font-face {
     font-family: 'Norse';
     src: url('assets/Norse-Bold.otf') format('opentype');
 }


body{display: flex;
     flex-direction: row;
}

.background{display: flex;
            flex-direction: column;
            flex:1;
            background-image: url("halie-west-25xggax4bSA-unsplash.jpg");
            background-size: 100%;
          
}

.content{display: flex;
         flex-direction: column;
         flex: 2;
         background-color:whitesmoke;
         height: 100vh;
}

.allinputs{display: flex;
           flex-direction: column;         
                   }


.sole-input{display: flex;
           flex-direction: column;
           margin-left: 50px;
           margin-bottom: 20px
           }

.input-row{display: flex; }

.container{margin-top: 30px; margin-bottom: 30px; font-family: 'Courier New', Courier, monospace; background-color:white;}

.shout{margin-left: 50px;}

input{border: 1px solid #E5E7EB; border-radius: 2px}

input:invalid{border: 1px solid red}

label{font-size: 14px;}

button{ margin-left: 50px;
        background-color: #596D48;
        color: white;
        border-style: outset;
        height: 40px;
        width: 200px;
        font: bold 15px arial,sans-serif;
        text-shadow: none;
        border-radius: 5px;
     }

.quoat{margin-left: 50px; font-weight: bold; font-size: 20px; font-family: "Courier New", Courier, monospace;}

.log-in{margin-left: 50px;}

.top-text{width: 40vw; margin-top: 5vh;}

.account{font-family: "Courier New", Courier, monospace;}