body{display: flex;
     flex-direction: row;
}

.background{display: flexbox;
            flex-direction: column;
            flex:1;
            background-image: url("halie-west-25xggax4bSA-unsplash.jpg");
}

.content{display: flexbox;
         flex-direction: column;
         flex: 2;
}

.container{display: flex;
           flex-direction: column;
}


